[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://${PYPI_USERNAME}:${PYPI_PASSWORD}@truelayer.jfrog.io/truelayer/api/pypi/python/simple"
verify_ssl = true
name = "private-pypi"

[packages]
prefix-infix-calculator = {editable = true, path = "."}

[requires]
python_version = "3.7"
